* {
	box-sizing: border-box;
}
body {
	width: 380px;
	height: auto;
	position: relative;
	background: #000;
	display: flex;
	margin: 20px auto;
	flex-wrap: wrap;
	grid-gap: 10px;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	resize: none;
	max-width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
h1 {
	color: #fff;
	padding: 0;
	margin: 0;
	text-align: center;
}
#heatmap_wrap {
	background: gray;
	border-radius: 5px;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1.33;
	display: flex;
	position: relative;
}
#heatmap {
  width: 100%;
  height: 100%;
}
#videoElement {
  max-width: 100%;
  object-fit: unset;
  opacity: 0.5;
  object-position: center center;
  position: absolute;
  z-index: 2;
  height: auto;
}
.offline {
	text-align:center;
	color: gray;
}
.orange{
	color: orange!important;
}
.red{
	color: red!important;
}
.green{
	color: lime!important;
}
.wrap {
	position: relative;
	width:100%;
	overflow: hidden;
	font-size: 0;
}
.label {
	font-size: 12px;
	color: gray;
	text-align: center;
	padding: 5px;
	align-content: center;
	justify-content: center;
	flex: 0 !important;
	min-width: 80px;
}
.inner{
	position: relative;
}
#drawingArea{
	z-index:2;
	position: absolute;
	cursor: crosshair;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
}
.rectangle {
	position: absolute;
	border: 1px solid red;
	width:100%;
	height:100%;
	left:0;
	top:0;
	box-sizing: border-box;
}
.status{
	color: #fff;
	font-size: 12px;
	text-align: left;
	min-height:80px;
	flex-flow: column;
}
.wrap img {
	height: 110px;
	object-fit: contain;
	background: gray;
	object-position: center center;
}
.options {
	border: 1px solid #666;
	border-radius: 3px;
	padding: 10px;
	display: flex;
	flex: 1;
	justify-content: space-between;
	grid-gap: 10px;
	background: #333;
	width: 100%;
	box-sizing: border-box;
	align-items: stretch;
}
.options > div {
    display: flex;
    flex-flow: column;
    grid-gap: 5px;
    word-wrap: break-word;
    flex: 1;
    width: 100%;
    position: relative;
}
.options input {
	flex: 1;
	text-align: center;
	width: 100%;
	border-radius: 6px;
	border: 0;
}
.active{
	color:red;
}
.options input[type=button] {
	background: pink;
	text-align: center;
	width: 50%;
	cursor: pointer;
	color: #3f3f3f;
	font-weight: bold;
	min-height: 30px;
	border-radius: 6px;
	border: 0;
}
#heatmap canvas {
    /*transform: rotate(180deg);*/
	transform: scaleX(-1);
	width: 100%;
}
.result {
    display: flex;
	/*flex-wrap: wrap;*/
    width: 100%;
    grid-gap: 20px;
    align-items: center;
}
.result > div {
    display: flex;
    width: 100%;
	font-size: 26px;
    grid-gap: 5px;
    flex-flow: column;
}